.post.grid {
    margin: 0 auto;
    max-width: 750px;
    padding-bottom: 2rem;
}

.post .user {
    align-items: center;
    display: flex;
    padding: .5rem 1rem;
}

.post .username {
    flex: 1;
    padding: 0 .5rem;
}

.post .image {
    width: 100%;
}

.post .body {
    padding: .5rem 1rem;
}

.post .like {
    display: flex;
}

.post .people {
    flex: 1;
}

.post .post {
    display: flex;
    padding: 0 1rem .5rem;
}